.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.login__img {
    width: 450px;
}

.waves__svg {
    position: fixed;
    left: 0;
    bottom: 0;
  }


@media (max-width: 640px) {
    .login__img {
        display: none;
    }
}
