
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.detail__toBack {
    position: absolute ;
    top: 6rem;
    left: 4rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.detail__iconBack {
    font-size: 1.4rem;
}

.detail__info {
    background-color: var(--bg-base-light);
    padding: 0 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-top: 1px solid var(--color-primary);
    border-right: 4px solid var(--color-primary);
}

.details__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info__characteristics {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}


.info__name {
    font-size: 2.5rem;
}

.info__origin, .info__location {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    color: #fff;

}

.info__iconOrigin, .info__iconLocation {
    font-size: 1.4rem;
    color: var(--color-primary);
}

.info__origin > span, .info__location > span  {
    color: var(--color-primary);
}

.characteristics__status, .characteristics__specie, .characteristics__genre {
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.status__info, .specie__info, .genre__info{
    color: var(--color-primary);
    font-weight: 600;
}

.characteristics__iconStatus, .characteristics__iconSpecie, .characteristics__iconGenre {
    font-size: 1.3rem;
    color: var(--color-primary);
}

.isDead {
    color: #fda3a3;
    font-weight: 600;
}

.detail__toBack:hover{
    text-decoration: underline;
}

.detail__iconBack:hover{
    transform: translateX(-3px);
}


.waves__svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }


@media (max-width: 640px) {
    .container {
        flex-direction: column;
        margin-top: 1rem;
    }
    
    .info__characteristics {
        font-size: 0.8rem;
        flex-direction: column;
        column-gap: 0;
        padding: 0;
    }

    .details__img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 44vw;
    }

    .detail__info {
        border: none;
        padding: 0 1rem;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .info__name {
        text-align: center;
        font-size: 1.7rem;
    }
    
    .info__origin, .info__location {
       justify-content: center;
       flex-direction: column;
       font-size: 1rem;
    }

    
    .detail__toBack{
        display: none;
    }
    
}