
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.detail__info {
    background-color: var(--bg-base-light);
    padding: 0 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45vh;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.details__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info__characteristics {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}


.info__name {
    font-size: 2.5rem;
}

.info__origin, .info__location {
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    color: #fff;

}

.info__iconOrigin, .info__iconLocation {
    font-size: 1.4rem;
    color: var(--color-primary);
}

.info__origin > span, .info__location > span  {
    color: var(--color-primary);
}

.characteristics__status, .characteristics__specie, .characteristics__genre {
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}

.characteristics__status > span, .characteristics__specie > span, .characteristics__genre  > span {
    color: var(--color-primary);
    font-weight: 600;
}

.characteristics__iconStatus, .characteristics__iconSpecie, .characteristics__iconGenre {
    font-size: 1.3rem;
    color: var(--color-primary);
}


